.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.field {
  width: 200px;
  height: 200px;
  border: 2px solid black;
}

canvas {
  margin-top: 140px;
}
