* {
  box-sizing: border-box;
  user-select: none;
}

.cell {
  /* height: 40px; */
  border: 1px solid rgb(220, 219, 219);
  align-content: center;
  text-align: center;
  aspect-ratio: 1;
  font-family: "Courier New", Courier, monospace;
  text-transform: capitalize;
  font-size: 2rem;

  cursor: pointer;
  &:hover {
    background-color: #ddd;
  }
}

#board {
  display: grid;
  grid-template-columns: repeat(var(--nx), 1fr);
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

:root {
  --bw: 2px;
  --bc: cyan;
}

.bt {
  border-top: var(--bw) solid var(--bc);
}
.bl {
  border-left: var(--bw) solid var(--bc);
}
.br {
  border-right: var(--bw) solid var(--bc);
}
.bb {
  border-bottom: var(--bw) solid var(--bc);
}
